<!-- summary -->
<div class="row row-margin col-md-12">
    <h3>Search Filter</h3>
    <div class="row">
        <div class="header">
            <div class="form-group col-md-4">
                <label for="email">Skillsets:</label>
                <input type="text" class="form-control" id="skillset" placeholder="Enter required skills sets" ng-change="smCtrl.change()" name="skillset" ng-model="smCtrl.userData.skills"> </div>
            <div class="form-group col-md-4">
                <label for="pwd">Source:</label>
                <input type="text" class="form-control" id="source" placeholder="select source" name="source" ng-change="smCtrl.change()" ng-model="smCtrl.userData.src"> </div>
            <div class="form-group col-md-4">
                <label for="pwd">City:</label>
                <input type="text" class="form-control" id="city" placeholder="Select city" name="city" ng-change="smCtrl.change()" ng-model="smCtrl.userData.city"> </div>
        </div>
    </div>
    </div>
    <div class="row row-margin col-md-12" ng-if="smCtrl.rows.length ===0"> <strong>No records found.</strong> </div>
    <div class="row row-margin col-md-12 tableBodyScroll" ng-if="smCtrl.rows.length >0">
        <table class="tableWidth">
            <thead>
                <tr>
                    <th class="col-xs-2">Id</th>
                    <th class="col-xs-2">User</th>
                    <th class="col-xs-2">Skills</th>
                    <th class="col-xs-2">City</th>
                    <th class="col-xs-2">Source</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in smCtrl.rows">
                    <td class="col-xs-2">{{row.id}}</td>
                    <td class="col-xs-2">{{ row.name }}</td>
                    <td class="col-xs-2">{{ row.skills}}</td>
                    <td class="col-xs-2">{{ row.city }}</td>
                    <td class="col-xs-2">{{ row.source }}</td>
                </tr>
            </tbody>
        </table>
    </div>
